@import 'https://fonts.googleapis.com/css?family=Roboto';

/* Side menu */
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #f32c52;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 2s;
}

.side-menu:hover {
  width: 300px;
}

.side-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 300px;
}

.side-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  text-decoration: none;
  color: #FFF;
  height: 100px;
  transition: background-color .3s ease;
}

.side-menu li:hover {
  background: #14081d;
  flex: 1;
}

.material-icons.md-48, .material-symbols-outlined.md-52 {
  font-size: 52px;
}

.material-icons.md-light {
  margin-left: 0;
  transition: 0.1s;
}

.side-menu li:hover .material-icons.md-light {
  color: rgb(247, 0, 123);
  margin-left: -100px;
}

.material-icons {
  margin: 5px;
}

.material-symbols-outlined {
  position: fixed;
  left: -6px;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  color: #050505;
  transition: 1.5s;
}

.side-menu:hover .material-symbols-outlined {
  opacity: 0%;
}

/* Conteiner */
.conteiner {
  background: linear-gradient(-80deg, #6b11c0, #702ae2, #d50ce7, #6d0686de);
  background-size: 400% 400%;
  height: 100%;
  display: flex;
  animation: gradient 15s ease infinite;
}

.conteiner .box-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%px;
  height: 450px;
  z-index: -1;
}

.box-conteiner div {
  display: flex;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  width: 400px;
  height: 0px;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  color: #FFF;
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 30px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.80);
  transition: 1s;
  z-index: -1;
}

.box-conteiner div:hover {
  height: 430px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
